# Dependencies
node_modules/

# Build outputs
dist/
dist-app/
out/
release/
build/

# OS metadata
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln

modern-ui/.env
.env